<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Page Not Found</title>
</head>

<body>
  <div class="container not-found-container">
    <div class="row">
      <div class="col-12">
        <img src="assets/notFound.jpg">
      </div>
      <div class="col-12 mt-3">
        <button class="btn btn-outline-dark" routerLink="/Home">
          <i class="fa-solid fa-house"></i> Go To Home
        </button>
      </div>
    </div>
  </div>
</body>
</html>
