<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Big Footer</title>
</head>
<body>

    <footer class="bg-blue py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mb-4">
                    <h5>About Us</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white text-decoration-none"><i class="fa-solid fa-location-dot"></i>
                                Our Story</a></li>
                        <li><a href="#" class="text-white text-decoration-none"><i class="fa-brands fa-whatsapp"></i>
                                Mission</a></li>
                        <li><a href="#" class="text-white text-decoration-none"><i class="fa-solid fa-envelope"></i>
                                Team</a></li>
                    </ul>
                </div>

                <div class="col-md-2 mb-4">
                    <h5>our prodct</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white text-decoration-none">Web Design</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Development</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Marketing</a></li>
                    </ul>
                </div>

                <div class="col-md-2 mb-4">
                    <h5>Resorses </h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white text-decoration-none">FAQ</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Contact</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Live Chat</a></li>
                    </ul>
                </div>

                <div class="col-md-2 mb-4">
                    <h5>About Rentcars</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white text-decoration-none"> Why choose us</a></li>
                        <li><a href="#" class="text-white text-decoration-none"> Press Center</a></li>
                        <li><a href="#" class="text-white text-decoration-none"> Investor Relations</a></li>
                    </ul>
                </div>
                <div class="col-md-2 mb-4">
                    <h5>Follow Us</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white text-decoration-none">
                                <span><i class="fa-brands fa-instagram"></i></span>
                                <span><i class="fa-brands fa-facebook"></i></span>
                                <span><i class="fa-brands fa-youtube"></i></span>
                            </a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p>Copyright 2023 ・ Rentcars, All Rights Reserved</p>
        </div>
    </footer>

</body>

</html>