<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="title col-lg-5">
                <div>Download Rentcars RenCarts</div>
                <div>App For <span class="free">Free</span></div>
                <p class="par1">For faster, easier booking and exclusive deals.</p>
                <div class="btns">
                    <div class="btn-black">
                        <span class="btn-span">Get it on<br></span>
                        <span class="btn-span2"><i class="fa-brands fa-google-play"></i> Google Play</span>
                    </div>

                    <div class="btn-black">
                        <span class="btn-span">Download on the<br></span>
                        <span class="btn-span2"><i class="fa-brands fa-apple"></i> App Store</span>
                    </div>
                </div>
                <div class="inputs">
                    <input placeholder="Name">
                    <input placeholder="Phone Number">
                    <input placeholder="Email">
                    <button class="btn btn-primary">Send</button>
                </div>
            </div>
            <div class="col-lg-6 col-12 download">
                <img src="assets/download.jpg">
            </div>
        </div>
    </div>

</body>

</html>