<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="car col-lg-6 col-12">
                <img src="assets/images/car.jpg">
            </div>
            <div class="pars col-lg-6 col-12">
                <div class="btn-blue">why choose it</div>
                <p class="par">We offer the best experience<br>with our rental deals.</p>
                <div class="par2">
                    <div class="logo"><i class="fa-solid fa-lock"></i></div>
                    <div class="content">
                        <p class="detail">Best price guaranteed</p>
                        <p class="detail2">Find a lower price? We’ll refund you 100%<br>
                            of the difference.</p>
                    </div>
                </div>
                <div class="par2">
                    <div class="logo"><i class="fa-solid fa-lock"></i></div>
                    <div class="content">
                        <p class="detail" id="choose">Best price guaranteed</p>
                        <p class="detail2">Find a lower price? We’ll refund you 100%<br>
                            of the difference.</p>
                    </div>
                </div>
                <div class="par2">
                    <div class="logo"><i class="fa-solid fa-lock"></i></div>
                    <div class="content">
                        <p class="detail">Best price guaranteed</p>
                        <p class="detail2">Find a lower price? We’ll refund you 100%<br>
                            of the difference.</p>
                    </div>
                </div>
                <div class="par2">
                    <div class="logo"><i class="fa-solid fa-lock"></i></div>
                    <div class="content">
                        <p class="detail">Best price guaranteed</p>
                        <p class="detail2">Find a lower price? We’ll refund you 100%<br>
                            of the difference.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>