<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="main">
                <div class="one">How It Work</div>
                <div class="two">
                    <p>Rent with following 3 working steps</p>
                </div>
                <div class="main2" id="works">
                    <div class="part"><span class="small_span"><i class="fas fa-calendar-check"></i></span></div>
                    <div class="part"><span class="small_span"><i class="fas fa-calendar-week"></i></span></div>
                    <div class="part"><span class="small_span"><i class="fas fa-car"></i></span></div>
                    <div class="part2">
                        <div class="content"><span>Choose Locatiom</span>Choose your and findyour best car</div>
                    </div>
                    <div class="part2">
                        <div class="content"><span>Pick-up</span> date Select your pick up date and
                            time to book your car</div>
                    </div>
                    <div class="part2">
                        <div class="content"><span> Book your car</span> and we will deliver
                            it directly to you</div>
                    </div>
                </div>
            </div>
            <div class="logos">
                <div class="logo"><img src="assets/logo1.jpg"></div>
                <div class="logo"><img src="assets/logo2.jpg"></div>
                <div class="logo"><img src="assets/logo3.jpg"></div>
                <div class="logo"><img src="assets/logo4.jpg"></div>
                <div class="logo"><img src="assets/logo5.jpg"></div>
            </div>
        </div>
    </div>
</body>

</html>