.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.one {
    color: blue;
    background-color: #1572D31A;
    padding: 5px 60px 5px 60px;
    width: max-content;
    height: max-content;
    font-weight: bold;
}

.two {
    margin-top: 15px;
    font-weight: 600;
    font-size: 25px;
}

.main2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
}

.part {
    background-color: white;
    width: 16rem;
    flex-wrap: wrap !important;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small_span {
    font-size: 40px;
    display: flex;
    width: 160px;
    color: rgb(107, 179, 255);
    height: 80px;
    background-color: rgb(0, 83, 172);
    justify-content: center;
    align-items: center;
}

.part2 {
    width: 16rem;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.content span {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content {
    font-size: 15px;
    color: #333;
    line-height: 1.4;
}
.logos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: whitesmoke;
    margin-top: 100px;
    padding: 10px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}
.logo {
    width: 100px;
    height: 100px;
}
.logo img {
    width: 100px;
    height: 100px;
}