<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12" *ngIf="car">
                <img src="assets/car.jpg" class="image">
            </div>
            <div class="col-lg-6 col-12 right">
                <button class="blue">we contact us</button>
                <p class="pargraph">We offer the best experience with our rental deals</p>
                <div class="spans">
                    <p><i class="fa-solid fa-snowflake"></i> Air Conditioning</p>
                    <p><i class="fa-solid fa-bolt"></i>electric</p>
                    <p><i class="fa-solid fa-person"></i> 4 passagers</p>
                    <p><i class="fa-solid fa-door-open"></i> 4 Doors</p>
                </div>
            </div>
        </div>


    </div>

</body>

</html>