<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Landing Section</title>
</head>
<body>

  <div class="container">
    <div class="main">
      <div class="left-div">
        <div class="par1">
          <p>Find, Book and <br> rent a car <span class="easy">Easily</span></p>
        </div>
        <div class="par2">
          Get a car wherever and whenever you <br> need it with your iOS and Android device.
        </div>
        <div class="btns">
          <div class="btn-black">
            <span class="btn-span">Get it on</span>
            <span class="btn-span2"><i class="fa-brands fa-google-play"></i> Google Play</span>
          </div>

          <div class="btn-black">
            <span class="btn-span">Download on the</span>
            <span class="btn-span2"><i class="fa-brands fa-apple"></i> App Store</span>
          </div>
        </div>
      </div>

      <div class="right">
        <img src="assets/car2.jpg" alt="Car" class="image_car">
      </div>
    </div>
  </div>

</body>
</html>
